### Задание 1
1. Скачать файл `kc_house_data.csv`  
2. Считать данные с помощью pandas
3. Вывести на экран первые 5 строк
4. Посмотреть на описание признаков и на их содержание

In [1]:
# Импорт библиотек
import pandas as pd

# Считывание данных
data = pd.read_csv("kc_house_data.csv")

In [68]:
# Вывод первых 5 строк
data.head(5)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

### Задание 2
Проведите первичный анализ данных
1. Изучите типы данных
2. Найдите количество пропущенных ячеек в данных
3. Посчитайте основные статистики по всем признакам и поизучайте их
4. Пишите выводы

In [4]:
# Состав и тип столбцов
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21613 non-null  int64
 1   date           21613 non-null  object
 2   price          21613 non-null  float64
 3   bedrooms       21613 non-null  int64
 4   bathrooms      21613 non-null  float64
 5   sqft_living    21613 non-null  int64
 6   sqft_lot       21613 non-null  int64
 7   floors         21613 non-null  float64
 8   waterfront     21613 non-null  int64
 9   view           21613 non-null  int64
 10  condition      21613 non-null  int64
 11  grade          21613 non-null  int64
 12  sqft_above     21613 non-null  int64
 13  sqft_basement  21613 non-null  int64
 14  yr_built       21613 non-null  int64
 15  yr_renovated   21613 non-null  int64
 16  zipcode        21613 non-null  int64
 17  lat            21613 non-null  float64
 18  long           21613 non-null  float64
 19  sqft_living15  21613 non-null  int64
 20  sqft_lot15     21613 non-null  int64
dtypes: float64(5), int64(15), object(1)
memory usage: 3.5+ MB

In [ ]:
# Подсчет пропусков
data.isna().sum()

In [ ]:
# Статистики
data.describe()

### Задание 3

In [13]:
# 3.1 В каком диапазоне изменяются стоимости недвижимости?
data["price"].min(), data["price"].max()

(75000.0, 7700000.0)

In [17]:
#3.2 Какую долю в среднем занимают жилая площадь от всей площади по всем домам?
data["sqft_living"].mean()/data["sqft_lot"].mean()

0.1376781757959227

In [27]:
# 3.3 Как много домов с разными этажами в данных?
#data.groupby(['floors']).count()["id"]
data["floors"].value_counts()

floors
1.0    10680
2.0     8241
1.5     1910
3.0      613
2.5      161
3.5        8
Name: count, dtype: int64

In [28]:
#3.4 Насколько хорошие состояния у домов в данных ?
data["condition"].value_counts()

condition
3    14031
4     5679
5     1701
2      172
1       30
Name: count, dtype: int64

In [36]:
# 3.5 Найдите года, когда построили первый дом, когда построили последний дом в данных?
data["yr_built"].min(), data["yr_built"].max(),

(1900, 2015)

### Задание 4

In [41]:
# 4.1 Сколько в среднем стоят дома, у которых 2 спальни?
data[data["bedrooms"]==2]["price"].mean()

401372.681884058

In [45]:
# 4.2 Какая в среднем общая площадь домов, у которых стоимость больше 600 000?
data[data["price"] > 600000]["sqft_lot"].mean()

20442.524776214832

In [67]:
# 4.3 Как много домов коснулся ремонт?
len(data[data["yr_renovated"] != 0])

914

In [66]:
# 4.4 Насколько в среднем стоимость домов с оценкой grade домов выше 10 отличается от стоимости домов с оценкой grade меньше 4?
data[data["grade"] > 10]["price"].mean() - data[data["grade"] < 4]["price"].mean()

1488885.1175298805

### Задание 5

In [74]:
# 5.1 Клиент хочет дом с видом на набережную, как минимум с тремя ванными и с подвалом. Сколько вариантов есть у клиента?
len(data[(data["waterfront"] == 1) &
     (data["bathrooms"] >= 3) &
     (data["sqft_basement"] > 0)])

41

In [80]:
# 5.2 Клиент хочет дом либо с очень красивым видом из окна, либо с видом на набережную, в очень хорошем состоянии и год постройки не меньше 1980 года. В какой ценовом диапазоне будут дома?
houses = data[((data["view"] == 5) | (data["waterfront"] == 1)) &
     (data["condition"] == 5) &
     (data["yr_built"]>= 1980)]
houses["price"].min(), houses["price"].max()

(1295000.0, 3000000.0)

In [83]:
# 5.3 Клиент хочет дом без подвала, с двумя этажами, стоимостью до 150000. Какая оценка по состоянию у таких домов в среднем?
houses = data [(data["sqft_basement"] == 0) &
               (data["floors"] == 2) &
               (data["price"] < 150000 )]
houses["condition"].mean()

2.8333333333333335